.tri-right {
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0px;
   border-left: 4px dashed;
   margin-right: 4px;
}
.tri-down {
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-top: 4px dashed;
   border-bottom: 0px;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
}
.gem-stock-list-group .list-group-item,
.unit-storage .storage-header{
   padding-top: 4px;
   padding-bottom: 4px;
}
.gem-stock-list-group .list-group-item:hover,
.unit-storage .storage-header:hover,
.unit-storage .storage-list .list-group-item:hover{
   background-color: #eee;
}
.gem-stock-list-group .subtype-padding {
   padding-left: 10px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}
.gem-count {
   position: absolute;
   right: 0px;
   color: #fff;
   background-color: #777;
   border-radius: 10px;
   font-weight: 700;
   text-align: center;
   vertical-align: middle;
   width: 50px;
}
.gem-text {
   display: inline-block;
   width: 80%;
   padding-left: 4px;
}
.subtype-padding .list-group {
   margin-bottom: 0px;
}
.submember-container {
   padding: 2px;
   margin-bottom: 5px;
}
.submember-container .form-group {
   margin: 0px;
}
.submember-container .control-label {
   padding-left: 0px;
   padding-right: 0px;
}
.submember-container .btn {
   margin-top: 0px;
}
.submember-container input.form-control {
   padding-left: 2px;
   padding-right: 2px;
}
.submember-container .form-horizontal {
   width: 50%;
}
.submember-container table {
   width: 100%;
}
.unit-storage .storage-text {
   padding-left: 4px;
}
.unit-storage .storage-body {
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}
.unit-storage .storage-list {
   overflow-y: auto;
   max-height: 400px;
   margin-bottom: 0px;
}
.unit-storage .storage-list .list-group-item {
   padding-left: 0px;
   padding-right: 4px;
   padding-top: 0px;
   padding-bottom: 0px;
}
.unit-storage .storage-list .storage-text {
   padding-top: 4px;
   padding-bottom: 4px;
}
.unit-storage .storage-list .btn-group .btn {
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 4px;
   padding-bottom: 4px;
}
.unit-storage .storage-list .badge {
   margin-top: 4px;
}
span.lltooltip {
   border-bottom: 1px dotted black;
}
.lltooltip .tooltiptext {
   visibility: hidden;
   background-color: black;
   color: white;
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   margin-top: 2em;
}
.lltooltip .tooltiptext.pop-left {
   right: 0px;
}
.lltooltip:hover .tooltiptext {
   visibility: visible;
}
.llsup {
   vertical-align: super;
   font-size: x-small;
}
.team-table {
   overflow-x: auto;
}
.team-table .form-control {
   padding: 0;
   height: auto;
   color: inherit;
   display: inline;
}
.team-table >tbody >tr >th {
   min-width: 7em;
   vertical-align: middle;
}
.team-table .btn {
   padding: 4px 8px;
}
.team-table .gem-list {
   font-size: small;
}
.team-table .gem-list .gem-dot {
   line-height: 8px;
   display: block;
}
.team-table .gem-list .gem-dot div {
   width: 6px;
   height: 6px;
   border-radius: 3px;
   background-color: black;
   display: inline-block;
   margin-right: 1px;
}
.team-table .gem-list .btn {
   padding: 2px 4px;
   width: 66px;
   text-align: center;
   overflow: clip;
   border-radius: 12px;
}
.no-padding {
   padding: 0;
   height: auto;
}
.small-padding {
   padding: 2px 6px;
   height: auto;
}
input.num-size-4, input.form-control.num-size-4 {
   width: 70px;
}
input.num-size-3 {
   width: 60px;
}
input.num-size-2 {
   width: 50px;
}
input.num-size-1 {
   width: 40px;
}
img.avatar {
   width: 65px;
   height: 65px;
   display: inline-block;
   overflow: hidden;
}
.filter-form select.form-control, .filter-form input.form-control {
   margin-bottom: 2px;
   margin-right: 2px;
}
.filter-form.label-size-9 label {
   width: 120px;
}
.filter-form.label-size-3 label {
   width: 60px;
}
table.gem-series tr.focused {
   border: 3px solid black;
}
.accessory-base {
   background-image: url('/static/accessory_frame/accessory_base.png');
}
.accessory-N {
   background-image: url('/static/accessory_frame/frame_n.png');
}
.accessory-R {
   background-image: url('/static/accessory_frame/frame_r.png');
}
.accessory-SR {
   background-image: url('/static/accessory_frame/frame_sr.png');
}
.accessory-SSR {
   background-image: url('/static/accessory_frame/frame_ssr.png');
}
.accessory-UR {
   background-image: url('/static/accessory_frame/frame_ur_common.png');
}
.accessory-UR.accessory-special {
   background-image: url('/static/accessory_frame/frame_ur_special.png');
}
.accessory-base, .accessory-N, .accessory-R, .accessory-SR, .accessory-SSR, .accessory-UR {
   background-size: contain;
}
.accessory-N >img, .accessory-R >img, .accessory-SR >img, .accessory-SSR >img, .accessory-UR >img {
   width: 66%;
   height: 66%;
   left: 16%;
   top: 16%;
   position: relative;
}
