{% extends "layout.html" %}

{% set category="文档" %}
{% set category_link="/#docs" %}
{% set title=doc_title %}
{% set jsPage=url_for('static', filename='pages/docs.js', v=config.PAGE_VERSION.docs) %}

{% block additional_header %}
   <style>
      .update-section-content {
         padding-left: 20px;
      }
      span.ll_code {
         background-color: #f5f5f5;
         color: #333;
         border: 1px solid #ccc;
         border-radius: 3px;
         padding: 2px;
         line-height: 2em;
      }
      .ll_ver_deprecated {
         background-color: #fee;
         text-decoration: line-through;
      }
      .ll_ver_new {
         background-color: #efe;
      }
   </style>
{% endblock %}

{% block main %}
<div id='doc_raw' style='display:none'>
{{md_content}}
</div>
<div id='doc_content'></div>
{% endblock %}

