{% extends "layout.html" %}

{% set category="队伍编成和强度" %}
{% set category_link="/#unit-formation" %}
{% set title="卡池编辑" %}
{% set jsPage=url_for('static', filename='pages/llcardpool.js', v=config.PAGE_VERSION.llcardpool) %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ul>
    <li>本页面可以添加、删除、编辑、导入、导出自定义卡池，方便在选卡时快速筛选自己常用的卡。</li>
    <li>卡池信息储存在用户本地的浏览器中，如需储存在其他位置，请使用导入/导出功能。</li>
    <li>选择「添加新卡池」后，输入卡池名字，点击「添加卡池」按钮即可添加卡池。</li>
    <li>选择卡池后，会显示两个卡片列表和一个卡片筛选器。上方的卡片列表显示的是当前卡池中的卡片，下方的卡片列表显示的是筛选器筛选出来的卡片列表。</li>
    <ul>
        <li>卡片列表中的卡片可以通过点击选中（可多选，也可全选、反选等）。</li>
        <li>点击「添加到卡池」，即可将选中的卡片添加到当前卡池。</li>
        <li>点击「从卡池中移除」，即可将选中的卡片从当前卡池中移除。</li>
        <li>点击「导入/导出」，即可将当前的卡池导出为文本格式。也可以将之前导出的数据粘贴进文本框并点击「导入（添加）」或「导入（覆盖）」进行导入。</li>
        <li>点击「删除卡池」，即可将当前卡池删除。</li>
    </ul>
</ul>
{% endblock %}

{% block main %}
<input id='language' type='hidden' /><br/>
<h3>卡池编辑</h3>
<div id="card_pool" class="filter-form label-margin-1">载入中...</div>

{% include 'components/loadingbox.html' %}

{% endblock %}
