{% extends "layout.html" %}

{% set category="队伍编成和强度" %}
{% set category_link="/#unit-formation" %}
{% set title="队伍强度、得分计算" %}

{% block additional_header %}
   <script type="text/javascript" src="{{ url_for('static', filename='twintailosu.js') }}?v=1.01"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lldata.js') }}"></script>
   <script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
   <link rel="shortcut icon" href="/static/shortcuticon.png" />
{% endblock %}

{% block script %}
   <script>
   LLSongData.briefKeys.push('jsonpath');
   var mezame = 0;
   var language = 0;

   var defer_onload = $.Deferred();
   var data_mapnote = 0;
   var comp_skill = 0;
   var comp_cardselector = 0;
   var comp_songselector = 0;
   var comp_gemselector = 0;
   var comp_cardavatar = 0;
   var comp_distribution_param = 0;
   var comp_distribution_chart = 0;
   var comp_team = 0;
   var comp_cskill_team = 0;
   var comp_cskill_friend = 0;
   var comp_result = 0;

   $.when(LLCardData.getAllBriefData(), LLSongData.getAllBriefData(), LLMetaData.get(), defer_onload).then(function (cardData, songData, metaData) {
      // init components
      LLConst.initMetadata(metaData);
      comp_songselector = new LLSongSelectorComponent('song_filter', songData);
      data_mapnote = new LLMapNoteData();
      comp_skill = new LLSkillContainer();
      comp_cardselector = new LLCardSelector(cardData, 'card_filter_container');
      comp_cardselector.onCardChange = LLUnit.applycarddata;
      comp_cardavatar = new LLImageComponent('imageselect');
      comp_distribution_param = new LLScoreDistributionParameter('distribution_param');
      comp_distribution_param.loadJson(LLHelperLocalStorage.getData(LLHelperLocalStorage.localStorageDistParamKey));
      comp_cskill_team = new LLCSkillComponent('cskill_team');
      comp_cskill_friend = new LLCSkillComponent('cskill_friend', {'editable': true, 'title': '好友主唱技能'});
      comp_result = new LLUnitResultComponent('unit_result');
      comp_gemselector = new LLGemSelectorComponent('gem_filter', {'includeNormalGemCategory': true});

      comp_songselector.onSongSettingChange = (songSettingId, songSetting) => songSetting && comp_team.setWeights(songSetting.positionweight);
      comp_songselector.onSongColorChange = (songAttribute) => comp_team.setMapAttribute(songAttribute);
      comp_songselector.setFriendCSkillComponent(comp_cskill_friend);

      var comp_dataversion = new LLDataVersionSelectorComponent('card_data_version', LLCardData, function (v) {
         LoadingUtil.startSingle(LLCardData.getAllBriefData().then(function (cards) {
            comp_cardselector.setCardData(cards, true);
         }));
      });
      var comp_savestorage = new LLSaveStorageComponent('unit-storage', {
         'saveData': makeSaveData,
         'loadTeamMember': handleLoadTeamMember
      });
      comp_team = new LLTeamComponent('unit-team', {
         'onPutCardClicked': function(i) {
            var curMain = document.getElementById("main").value;
            var memberData = {
               'cardid': comp_cardselector.getCardId(),
               'mezame': (document.getElementById("mezame").checked ? 1 : 0),
               'hp': parseInt(document.getElementById("hp").value),
               'smile': parseInt(document.getElementById("smile").value),
               'pure': parseInt(document.getElementById("pure").value),
               'cool': parseInt(document.getElementById("cool").value),
               'skilllevel': parseInt(document.getElementById("skilllevel").innerHTML)
            };
            memberData[curMain] += parseInt(document.getElementById("kizuna").value);
            comp_team.putMember(i, memberData);
         },
         'onPutGemClicked': function (i) {
            return comp_gemselector.getGemId();
         },
         'onCenterChanged': function() {
            LoadingUtil.startSingle(LLCardData.getDetailedData(this.getCardId(4) || 0)).then(function(card) {
               comp_cskill_team.setCSkill(card);
            }, defaultHandleFailedRequest);
         }
      });
      comp_team.loadJson(LLHelperLocalStorage.getData(LLHelperLocalStorage.localStorageLLNewUnitTeamKey));

      init();

      // load
      comp_cardselector.loadLocalStorage(LLHelperLocalStorage.localStorageCardSelectKey);
      comp_songselector.loadJson(LLHelperLocalStorage.getData(LLHelperLocalStorage.localStorageSongSelectKey));
      comp_team.setMapAttribute(comp_songselector.getSongAttribute());

      // addition script
      {{additional_script|safe}}

      // done
      document.getElementById('loadingbox').style.display = 'none';
   }, defaultHandleFailedRequest);

   function changeLanguage(){
      language = 1-language
      comp_songselector.setLanguage(language);
      comp_cardselector.setLanguage(language);
   }

   function toMezame(){
      mezame = 1-mezame
      LLUnit.applycarddata();
   }

   function clearall(){
      var inputs = document.getElementsByTagName("input");
      for (var i=0; i<inputs.length; i++){
         if (inputs[i].name)
            setCookie(inputs[i].name+"unit", inputs[i].value, -1);
      }
      setCookie("mezame"+"unit", mezame, -1)
      LLHelperLocalStorage.clearData(LLHelperLocalStorage.localStorageCardSelectKey);
      LLHelperLocalStorage.clearData(LLHelperLocalStorage.localStorageSongSelectKey);
      LLHelperLocalStorage.clearData(LLHelperLocalStorage.localStorageLLNewUnitTeamKey);
      window.location.href="/llnewunit"
   }

   function makeSaveData() {
      return new LLSaveData({'version': 104, 'team': comp_team.getMembers(), 'gemstock': {}, 'submember': []});
   }

   function saveunit(){
      var saveData = makeSaveData();
      var unitjson = saveData.serializeV104();
      window.location.href="/llsaveunit/"+unitjson;
   }

   function handleLoadTeamMember(teamMember) {
      comp_team.setMembers(teamMember);
      precalcu();
   }

   function handleLoadUnit(unit) {
      var saveData = new LLSaveData(unit);
      console.log(saveData);
      handleLoadTeamMember(saveData.teamMember);
   }

   function loadunit(){
      document.getElementById("unitform").action = '/llload/parent.handleLoadUnit'
      document.getElementById("unitform").target = 'if'
   }

   function precalcu(){
   	document.getElementById("unitform").action = ''
   	document.getElementById("unitform").target = ''
   }

   function init(){
      mezame = getCookie("mezameunit")
      language = getCookie("languageunit")
      if (mezame == "") mezame = 0; else mezame = parseInt(mezame);
      if (language == "")
         language = 0

      document.getElementById("mezame").checked = mezame
   }

   function saveToCookie(){
      setCookie("mezame"+"unit", mezame, 1)
      setCookie("language"+"unit", language, 1)
   }

   function check(){
      if (!comp_songselector.getSelectedSongSetting()) {
         comp_result.showError('请选择谱面');
         return;
      }
      if (!comp_team.isAllMembersPresent()) {
         comp_result.showError('队伍中仍有空位');
         return;
      }
      comp_result.hideError();
      saveToCookie();
      comp_cardselector.saveLocalStorage(LLHelperLocalStorage.localStorageCardSelectKey);
      LLHelperLocalStorage.setData(LLHelperLocalStorage.localStorageSongSelectKey, comp_songselector.saveJson());
      LLHelperLocalStorage.setData(LLHelperLocalStorage.localStorageDistParamKey, comp_distribution_param.saveJson());
      LLHelperLocalStorage.setData(LLHelperLocalStorage.localStorageLLNewUnitTeamKey, comp_team.saveJson());
      var distParam = comp_distribution_param.saveData();
      if (distParam.type == 'sim') {
         LLUnit.calculate(docalculate, comp_team.getCardIds(), [data_mapnote.getMapNoteData(comp_songselector.getSelectedSong(), comp_songselector.getSelectedSongSetting())]);
      } else {
         LLUnit.calculate(docalculate, comp_team.getCardIds());
      }
   	return true;
   }

   function docalculate(cards, extraData) {
      var member = comp_team.getMembers();
      var llmembers = [];

      var mainatt = comp_songselector.getSongAttribute();

      for (var i = 0; i < 9; i++) {
         member[i].card = cards[member[i].cardid];
         llmembers.push(new LLMember(member[i], mainatt));
      }

      var distParam = comp_distribution_param.saveData();
      var llmap = comp_songselector.getMap(comp_team.getWeights());

      var llteam = new LLTeam(llmembers);
      llteam.calculateAttributeStrength(llmap);
      llteam.calculateSkillStrength(llmap);

      comp_team.setStrengthAttributes(llteam.attrStrength);
      comp_team.setStrengthDebuffs(llteam.attrDebuff);

      if (distParam.type != 'no') {
         var t0 = window.performance.now();

         var percentiles = [1, 2, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 99];
         var err;
         if (distParam.type == 'v1') {
            err = llteam.calculateScoreDistribution();
         } else if (distParam.type == 'sim') {
            llmap.setDistParam(distParam);
            err = llteam.simulateScoreDistribution(llmap, extraData[0], parseInt(distParam.count));
         } else {
            err = '未知的得分分布';
         }
         if (err) {
            comp_result.showError(err);
         } else {
            llteam.calculatePercentileNaive();
            comp_result.hideError();
         }
         var t1 = window.performance.now();
         console.debug(llteam);

         console.debug('Elapesd time (ms): ' + (t1 - t0).toFixed(3));
         for (var i in percentiles){
            document.getElementById('simresult'+(100-percentiles[i]).toString()).innerHTML = llteam.naivePercentile[percentiles[i]];
         }
         document.getElementById('maxscoreprobability').innerHTML = '(' + (llteam.probabilityForMaxScore * 100) + ')%';
         document.getElementById('minscoreprobability').innerHTML = '(' + (llteam.probabilityForMinScore * 100) + ')%';
         document.getElementById('simresult0').innerHTML = llteam.maxScore;
         document.getElementById('simresult100').innerHTML = llteam.minScore;
         document.getElementById('distributionresult').style.display = '';
         if (!comp_distribution_chart) {
            comp_distribution_chart = new LLScoreDistributionChart('score_chart', {'series': [llteam.naivePercentile], 'width': '100%', 'height': '400px'});
         } else {
            comp_distribution_chart.addSeries(llteam.naivePercentile);
         }
      } else {
         document.getElementById('distributionresult').style.display = 'none';
         comp_result.hideError();
      }

      var cardStrengthList = [], totalStrengthList = [];
      for (var i=0;i<9;i++){
         var curCardStrength = llteam.attrStrength[i]+llteam.avgSkills[i].strength;
         var curStrength = curCardStrength - llteam.attrDebuff[i];
         cardStrengthList.push(curCardStrength);
         totalStrengthList.push(curStrength);
         comp_team.setStrengthSkillTheory(i, llteam.avgSkills[i].strength, LLUnit.isStrengthSupported(llteam.members[i].card));
         comp_team.setHeal(i, LLUnit.healNumberToString(llteam.avgSkills[i].averageHeal));
      }

      comp_team.setStrengthCardTheories(cardStrengthList);
      comp_team.setStrengthTotalTheories(totalStrengthList);
      comp_team.setSkillActiveCountSims(llteam.averageSkillsActiveCount);
      comp_team.setSkillActiveChanceSims(llteam.averageSkillsActiveChanceCount);
      comp_team.setSkillActiveNoEffectSims(llteam.averageSkillsActiveNoEffectCount);

      comp_result.showResult(llteam);
   }

   </script>
{% endblock %}

{% block body_onload %}
   <body onload="defer_onload.resolve()" lang="zh-Hans">
{% endblock %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ol>
      <li>选择歌曲 或 填写歌曲详细信息 <font style='color:red'><b>务必记得修改perfect数量（若卡组中有判卡，请填写带判情况下的perfect数量）</b></font></li>
      <li>选择卡牌数据版本</li>
      <li>从卡牌库中选择一张卡，点击「放卡」来放置到对应位置 <font style='color:red'><b>一张卡默认为满级、一级技能的数据，若不是则需要修改</b></font></li>
      <li>使用以上方法选择所有的9张卡</li>
      <li>可以点击「保存队伍」将队伍配置文件保存到本地，也可以在「队伍列表」中保存到浏览器</li>
      <li>第3、4步可以从保存的文件中读取队伍信息来代替：点击「选择文件」选择本地配置文件，再点击「读取队伍」；或点击「队伍列表」中的队伍名称</li>
      <li>选择主唱技能和好友主唱技能，设置点击得分增加系数和技能发动率增加系数 <font style='color:red'><b>计算SM、MF、CF、协力得分时将好友主唱加成设为0%</b></font></li>
      <li>选择分数分布计算模式。目前有3种计算模式，分别为「不计算分布」、「计算理论分布」和「计算模拟分布」。「不计算分布」和「计算理论分布」不支持 <font style='color:red'><b>box新技能的计算</b></font>；「计算模拟分布」 <font style='color:red'><b>支持大部分box新技能的计算</b></font>，若选择该项需要设置模拟次数、 <font style='color:red'><b>无判perfect率</b></font>和图标下落速度， <font style='color:red'><b>如果要计算默认歌曲请选择默认曲目2</b></font>（各模式支持计算的技能/宝石列表请点击「查看支持计算的技能/宝石」）</li>
      <li>点击calculate进行计算。「不计算分布」仅会显示期望得分；「计算理论分布」会显示期望得分和理论得分分布；「计算模拟分布」会进行模拟打歌，将模拟结果汇总绘制成曲线，如果要清空图中内容请点击「清空曲线」</li>
</ol>
<p>当前版本：6.5.3。</p>
{% endblock %}

{% block main %}
<input type="submit" name="clear" value="清空输入" onclick="clearall()"><br>
<form action="" id="unitform" name="unitform" method="POST" enctype=multipart/form-data>
<h3>歌曲信息</h3>
<div id="song_filter" class="filter-form label-size-9">载入中...</div>

{% include 'components/card-selector.html' %}

<div style="clear:both"></div>

<h3>宝石选择</h3>
<div id="gem_filter" class="filter-form">载入中...</div>

<h3>队伍属性</h3>
<div class="col-xs-12 col-lg-9" style="overflow-x:auto" id="unit-team"></div>
<div class="col-xs-12 col-lg-3">
   <input type="button" value="保存队伍" onclick="saveunit()">
   <input type="file" name="file"/>
   <input type="submit" value="读取队伍" onclick="loadunit()">

   <div id="unit-storage" style="margin-top: 30px"></div>
</div>
<div style="clear:both"></div>

<div id='cskill_team'></div>
<div id='cskill_friend'></div>

<br/>
<div id="distribution_param"></div>
<input type="button" value="calculate" onclick="check()" />
   <br><br><br>
</form>

<iframe style="display:none" id='if' name='if' src='about:blank' frameborder='0' allowtransparency="yes"></iframe>

{% include 'components/loadingbox.html' %}

<div id="unit_result"></div>
<div id='distributionresult' style='display:none'>
<h3>得分分布</h3>
最高分：<span id='simresult0'></span>&nbsp;概率：<span id='maxscoreprobability'></span><br/>
最低分：<span id='simresult100'></span>&nbsp;概率：<span id='minscoreprobability'></span><br/>
<table border="1">
<tr>
	<td>1%</td>
	<td>2%</td>
	<td>5%</td>
	<td>10%</td>
	<td>20%</td>
	<td>30%</td>
	<td>40%</td>
	<td>50%</td>
	<td>60%</td>
	<td>70%</td>
	<td>80%</td>
	<td>90%</td>
	<td>95%</td>
	<td>98%</td>
	<td>99%</td>
</tr>
<tr>
	<td id='simresult1'></td>
   <td id='simresult2'></td>
   <td id='simresult5'></td>
   <td id='simresult10'></td>
   <td id='simresult20'></td>
   <td id='simresult30'></td>
   <td id='simresult40'></td>
   <td id='simresult50'></td>
   <td id='simresult60'></td>
   <td id='simresult70'></td>
   <td id='simresult80'></td>
   <td id='simresult90'></td>
   <td id='simresult95'></td>
   <td id='simresult98'></td>
   <td id='simresult99'></td>
</tr>
</table>
</div>
<div id='score_chart' style='width:100%;display:none'></div>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">注意</h4>
<ul>
   <li>「计算理论分布」使用真实分布计算，计算速度比较慢；「计算模拟分布」使用模拟打歌计算，模拟次数越多，计算速度越慢，但也越接近真实分布</li>
   <li>由于使用歌曲信息计算，最终结果可能会有误差</li>
   <li>判定期间属性1.33倍的宝石计算有误，暂时按无效计算。</li>
   <li>由于「不计算分布」和「计算理论分布」不支持box新技能的计算，新技能卡的技能强度会显示为0</li>
   <li>默认曲目的模拟分布与理论分布不兼容，两者计算结果可能会有较大差异</li>
</ul>
{% endblock %}

{% block back_notice_2 %}
<h4 class="alert-heading">说明</h4>
<ul>
   <li>卡强度指的是不考虑异色和异团带来的负面影响时的强度，该数值方便异团卡、异色横向比较。实际强度则是考虑异色和异团加成的强度</li>
</ul>
{% endblock %}

