{% extends "layout.html" %}

{% set category="数据查询" %}
{% set category_link="/#game-data" %}
{% set title="宝石（SI技能）" %}
{% set jsPage=url_for('static', filename='pages/llnewsisdata.js', v=config.PAGE_VERSION.llnewsisdata) %}

{% block front_notice %}
<h4 class="alert-heading">说明</h4>
<ul>
<li>本页面用于查询各种宝石(SI技能)的效果</li>
</ul>
<p>当前版本：9.2</p>
{% endblock %}

{% block main %}

{% include 'components/loadingbox.html' %}

<input id='language' type='hidden' /><br/>

<h3>宝石选择</h3>
<div id='gem_selector' class='filter-form'></div>

{% endblock %}
