{% extends "layout.html" %}

{% set category="数据查询" %}
{% set category_link="/#game-data" %}
{% set title="歌曲数据查询" %}
{% set jsPage=url_for('static', filename='pages/llsongdata.js', v='1') %}

{% block front_notice %}
<h4 class="alert-heading">使用方法</h4>
<ul>
<li>选择歌曲以浏览数据，可以使用搜索和筛选来查找想要看的歌曲</li>
<li>注意：当不需要歌曲名搜索时，删除搜索框内所有字符（包括空格等）</li>
<li>新曲的数据仍不全</li>
</ul>
{% endblock %}

{% block main %}
<input id='language' type='hidden' /><br/>
<h3>歌曲筛选</h3>
<div id="song_filter" class="filter-form label-size-3">载入中...</div>

{% include 'components/loadingbox.html' %}

<h3>基本信息</h3>
<dl class="dl-horizontal">
	<dt>歌曲名</dt>
	<dd id='jpname'></dd>
	<dt id='cnametag'>中文名</dt>
	<dd id='name'></dd>
	<dt>属性</dt>
	<dd id='attribute'> </dd>
	<dt>难度</dt>
	<dd id='stardifficulty'> </dd>
	<dt>Combo数</dt>
	<dd id='combo'> </dd>
	<dt>按键权重</dt>
	<dd id='noteweight'> </dd>
	<dt>时间</dt>
	<dd><span id='time'></span>秒<sup><a href="#intro-1">(1)</a></sup></dd>
	<dt>歌曲长度</dt>
	<dd><span id='totaltime'></span>秒<sup><a href="#intro-2">(2)</a></sup></dd>
	<dt>BPM</dt>
	<dd id='bpm'> </dd>
	<dt>星星数</dt>
	<dd id='star'> </dd>
	<dt>长条按键数</dt>
	<dd id='slider'> </dd>
	<dt>滑键数</dt>
	<dd id='swing'> </dd>
	<dt>滑键长条数</dt>
	<dd id='swingslider'> </dd>
</dl>


<h3>分数要求</h3>
<dl class="dl-horizontal">
	<dt>Score S</dt><dd id="sscore"></dd>
	<dt>Score A</dt><dd id="ascore"></dd>
	<dt>Score B</dt><dd id="bscore"></dd>
	<dt>Score C</dt><dd id="cscore"></dd>
</dl>
</table>

<h3>谱面分布</h3>
<table class="table table-bordered">
<thead>
<tr>
	<th></th>
	{% for i in range(0, 9)%}
		<th>{{i+1}}</th>
	{% endfor %}
</tr>
</thead>
<tbody>
<tr>
	<th>普通按键</th>
	{% for i in range(0, 9)%}
		<td id="positionnote{{i}}"></td>
	{% endfor %}
</tr>
<tr>
	<th>长条按键</th>
	{% for i in range(0, 9)%}
		<td id="positionslider{{i}}"></td>
	{% endfor %}
</tr>
<tr>
	<th>滑键</th>
	{% for i in range(0, 9)%}
		<td id="positionswing{{i}}"></td>
	{% endfor %}
</tr>
<tr>
	<th>滑键长条</th>
	{% for i in range(0, 9)%}
		<td id="positionswingslider{{i}}"></td>
	{% endfor %}
</tr>
<tr>
	<th>权重</th>
	{% for i in range(0, 9)%}
		<td id="positionweight{{i}}"></td>
	{% endfor %}
</tr>
<tr>
	<th>同色同团加成<sup><a href="#intro-3">(3)</a></sup></th>
	{% for i in range(0, 9)%}
		<td id="positionmulti{{i}}"></td>
	{% endfor %}
</tr>
</tbody>
</table>
<p style="margin-left:30px">*异色卡和异团卡放在红色位置最好，其次橙色、黄色位置</p>

<h3>其他</h3>
<dl class="dl-horizontal">
	<dt>Combo乘数</dt>
	<dd><span id="combomulti"></span><sup><a href="#intro-4">(4)</a></sup></dd>
	<dt>获得绊</dt>
	<dd id="kizunaget"></dd>
	<dt>单位强度得分</dt>
	<dd><span id="scoreperstrength"></span><sup><a href="#intro-7">(7)</a></sup></dd>
</dl>
<br>
{% endblock %}

{% block back_notice %}
<h4 class="alert-heading">说明</h4>
<ol>
	<li id="intro-1">时间指的是从人物出现到最后一个note被击打所经过的时间，是时间系技能可以触发的时间量</li>
	<li id="intro-2">歌曲长度大约为封面到「FULL COMBO」/ 「LIVE 成功」字样出现的总时间</li>
	<li id="intro-3">同色同团加成指的是在某个位置放置与歌曲颜色相同或相同组合（μ's，Aquors）的卡对总分的增加量，两者叠乘</li>
	<li id="intro-4">Combo乘数指的是FC比起max combo不到50时的得分的倍数</li>
	<li id="intro-5">最低属性指的是在没有加分卡、是纯色队、全perfect的情况下恰好能够达到该rank的属性（选队时加成后的面板属性）</li>
	<li id="intro-6">安全属性指的是在没有加分卡、是纯色队、max combo低于50、有大量great的情况下恰好能够达到该rank的属性（选队时加成后的面板属性）若有异色卡，参考同色加成；若有加分卡，在<a href="/llcardtest">卡片强度计算</a>中计算技能等效面板属性
	<li id="intro-7">单位强度得分指的是每一点队伍强度可以得到的歌曲分数，队伍强度可以使用<a href="/llnewunit">队伍强度计算</a>计算，假设全P，所以实际得分需要乘以(0.88 + 0.12 * P率)，存在极小的误差</li>
</ol>
{% endblock %}
