{% extends "layout.html" %}

{% set category="测试" %}
{% set category_link="/#test" %}
{% set title="测试" %}
{% set jsPage=url_for('static', filename='pages/test.js', v=config.PAGE_VERSION.test) %}

{% block main %}
<button id='test-run-all' class="btn btn-default">执行全部</button>
<table class='table table-hover'>
   <thead>
      <tr>
         <th>#</th>
         <th>测试名称</th>
         <th>结果</th>
         <th>耗时(ms)</th>
      </tr>
   </thead>
   <tbody id='test-list'>
   </tbody>
</table>
<h3 id='test-running-box' style='display:none'>
测试中... <span id='test-running-box-progress'></span>
</h3>
<h3 id='test-result'>
</h3>

{% include 'components/loadingbox.html' %}
{% endblock %}

{% block back_script %}
<script>
   g_page_load_case();
</script>
{% endblock %}
